# Server
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_ddd_db
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Swagger Documentation
SWAGGER_PATH=api/docs
